<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="APP-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%10thread] %logger{10} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APP-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%level) [%10thread] %cyan(%logger{10}) : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="APP-CONSOLE"/>
        <appender-ref ref="APP-FILE-ROLLING"/>
    </root>

</configuration>
